@media screen and (min-width: 640px) and (max-width: 768px) {

	/*reset*/
	.inner {
		width: 700px;
		margin: 0 auto;
	}

	/*header*/
	header .logo {
		left: 120px;
		height: 26px;
		margin-top: 1px;
	}

	header .logo img {
		height: 100%;
	}

	header .iconArea li {
		margin-left: 15px;
	}

	header .iconArea li img {
		margin-top: 9px;
	}

	header nav {
		top: 69px;
		background: none;
		display: none;
	}

	header nav .gnb {
		height: 100vh;
	}

	header nav .gnb .gnbTit {
		height: 30px;
		font-size: 22px;
		padding-bottom: 10px;
	}

	header nav .gnb > li {
		width: 50%;
	}

	header nav .gnb > li > a {
		margin-bottom: 0;
		font-size: 18px;
	}

	header nav .gnb li .sub {
		height: 50px;
	}

	header nav .gnb li .sub li a {
		margin-bottom: 0;
		font-size: 14px;
	}

	header nav .gnb .ikeaMenu {
		margin-top: 0px;
	}

	header nav .gnb .ikeaMenu li {
		height: 160px;
		margin-right: 3%;
		background: no-repeat center / cover;
	}

	header nav .gnb .ikeaMenu li:nth-child(1),
	header nav .gnb .ikeaMenu li:nth-child(2) {
		width: 48.5%;
		margin-bottom: 3%;
	}

	header nav .gnb .ikeaMenu li:nth-child(3),
	header nav .gnb .ikeaMenu li:nth-child(4),
	header nav .gnb .ikeaMenu li:nth-child(5) {
		width: 31.3%;
	}

	header nav .gnb .ikeaMenu li:nth-child(2),
	header nav .gnb .ikeaMenu li:nth-child(5) {
		margin-right: 0;
	}

	header nav .gnb .ikeaMenu li:nth-child(2) {
		background-position: 0 -10px;
	}

	header nav .gnb .ikeaMenu li:nth-child(4) {
		background-position: 0 -20px;
	}

	header nav .gnb .ikeaMenu li:nth-child(5) {
		background-position: 0 -30px;
	}

	/*mainVisual*/
	.mainVisual .eventText {
		left: 3.5%;
	}

	.mainVisual .mainText {
		top: 15%;
	}

	.mainVisual .mainText h2 {
		font: 50px 'Lato', sans-serif;
		font-weight: 300;
	}

	.mainVisual .mainText p {
		margin-bottom: 30px;
		font-size: 17px;
	}

	/*product*/
	.product .inner .proCon {
		margin-bottom: 0;
	}

	.product .inner .proSlide a img {
		height: 150px;
	}

	/*snsArea*/
	.snsArea .snsIkea .snsIcon h3 {
		letter-spacing: 5px;
	}

	.snsArea .snsIkea .snsIcon ul li {
		float: left;
		margin-right: 16px;
	}

	/*useful*/
	.useful .inner h3 {
		font-size: 40px;
		color: #222;
		margin-bottom: 20px;
	}

	.useful .inner > p {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.useful .inner ul li {
		position: relative;
		float: left;
		width: 100%;
		height: 250px;
		margin-bottom: 15px;
		overflow: hidden;
	}

	.useful .inner ul li:nth-child(1) {
		width: 49%;
	}

	.useful .inner ul li:nth-child(1) img {
		width: auto;
		height: 100%;
	}

	.useful .inner ul li:nth-child(2) {
		width: 49%;
		margin-left: 2%;
	}

	.useful .inner ul li:nth-child(2) img {
		position: absolute;
		top: -20px;
		width: 100%;
	}

	.useful .inner ul li:nth-child(3) {
		margin-bottom: 0;
	}

	.useful .inner ul li:nth-child(3) img {
		width: auto;
		height: 100%;
	}

	.useful .inner ul li .useHover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		font-size: 22px;
		color: #fff;
		background: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		opacity: 0;
		transition: all 0.5s;
	}

	.useful .inner ul li .useHover strong:after {
		display: block;
		content: '';
		width: 280px;
		height: 2px;
		margin: 3px 0;
		background: #fff;
	}

	.useful .inner ul li .useHover:hover {
		opacity: 1;
	}

	/*major*/
	.major .inner h3 {
		font-size: 40px;
		color: #222;
		margin-bottom: 20px;
	}

	.major .inner > p {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.major .inner .majorList {
		height: 350px;
		overflow: hidden;
	}

	.major .inner .majorList li img {
		width: 100%;
	}

	.major .inner .majorList .family {
		width: 230px;
		height: 349px;
	}

	.major .inner .majorList .family a {
		border: 0;
	}

	.major .inner .majorList .family img {
		width: 100%;
		z-index: -1;
	}

	.major .inner .majorList .family img:nth-child(2) {
		display: block;
		width: 99.5%;
		height: 99.5%;
		border: 1px solid #222;
		background: #fff;
		opacity: 0;
	}

	.major .inner .majorList .center {
		left: 245px;
		width: 275px;
	}

	.major .inner .majorList .planning {
		display: none;
	}

	.major .inner .majorList .assembly {
		width: 460px;
		top: 62%;
		left: 245px;
	}

	.major .inner .majorList .food {
		display: none;
	}

	.major .inner .majorList .catalog {
		bottom: 41.2%;
		right: -50px;
		width: 220px;
		height: 206px;
		overflow: hidden;
	}

	.major .inner .majorList .catalog img {
		bottom: -15px;
		right: 25px;
	}

	/*store*/
	.store .inner ul li {
		float: left;
		width: 163px;
		margin-right: 15px;
	}

	.store .inner ul li img {
		width: 100%;
	}

	.store .inner ul li h5 {
		font-size: 18px;
		margin-bottom: 5px;
	}

	.store .inner ul li span {
		display: block;
		height: 35px;
		font-size: 12px;
	}

	.store .inner ul li p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.store .inner ul li a:nth-child(1) {
		margin-top: 15px;
		font-size: 12px;
	}

	.store .inner ul li a.goStore {
		width: 100%;
	}

	.store .inner ul li a.goMap {
		width: 100%;
	}

	.store .inner ul li a.goMap:hover {
		background: #bfbfbf;
		color: #000;
	}

	/*footer*/
	footer {
		width: 100%;
		height: 260px;
		background: #e6e6e6;
	}

	footer .inner {
		padding-top: 40px;
	}

	footer .inner .footTop {
		position: relative;
	}

	footer .inner .footTop:after {
		position: absolute;
		top: 25px;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #aaa;
	}

	footer .inner .footTop .footCopy {
		float: left;
	}

	footer .inner .footTop .footMenu {
		float: right;
	}

	footer .inner .footTop .footMenu a {
		margin-right: 15px;
	}

	footer .inner .footText {
		padding-top: 40px;
		line-height: 1.6;
	}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	/*reset*/
	.inner {
		width: 920px;
	}

	/*header*/
	header .logo {
		left: 120px;
		height: 26px;
		margin-top: 1px;
	}

	header .logo img {
		height: 100%;
	}

	header .iconArea li {
		margin-left: 15px;
	}

	header .iconArea li img {
		margin-top: 9px;
	}

	header nav {
		top: 69px;
		background: none;
		display: none;
	}

	header nav .gnb {
		height: 100vh;
	}

	header nav .gnb > li {
		width: 50%;
	}

	header nav .gnb > li > a {
		margin-bottom: 0;
	}

	header nav .gnb li .sub {
		height: 60px;
	}

	header nav .gnb li .sub li a {
		margin-bottom: 0;
	}

	header nav .gnb .ikeaMenu {
		margin-top: 20px;
	}

	header nav .gnb .ikeaMenu li {
		height: 160px;
		margin-right: 3%;
		background: no-repeat center / cover;
	}

	header nav .gnb .ikeaMenu li:nth-child(1),
	header nav .gnb .ikeaMenu li:nth-child(2) {
		width: 48.5%;
		margin-bottom: 3%;
	}

	header nav .gnb .ikeaMenu li:nth-child(3),
	header nav .gnb .ikeaMenu li:nth-child(4),
	header nav .gnb .ikeaMenu li:nth-child(5) {
		width: 31.3%;
	}

	header nav .gnb .ikeaMenu li:nth-child(2),
	header nav .gnb .ikeaMenu li:nth-child(5) {
		margin-right: 0;
	}

	header nav .gnb .ikeaMenu li:nth-child(2) {
		background-position: 0 -110px;
	}

	header nav .gnb .ikeaMenu li:nth-child(4) {
		background-position: 0 -110px;
	}

	header nav .gnb .ikeaMenu li:nth-child(5) {
		background-position: 0 -30px;
	}

	/*mainVisual*/
	.mainVisual .eventText {
		width: 190px;
		left: 3.5%;
	}

	.mainVisual .mainText {
		top: 18%;
	}

	.mainVisual .mainText h2 {
		font: 50px 'Lato', sans-serif;
		font-weight: 300;
	}

	.mainVisual .mainText p {
		margin-bottom: 30px;
		font-size: 17px;
	}

	/*product*/
	.product .inner .proCon {
		margin-bottom: 60px;
	}

	.product .inner .proSlide a img {
		height: 150px;
	}

	.product .inner .bluehome li a:hover {
		color: #293f6f;
	}

	.product .inner .soblekt h3 {
		color: #015f17;
	}

	.product .inner .soblekt li a:hover {
		color: #015f17;
	}

	.product .inner .omtanksam h3 {
		color: #826432;
	}

	.product .inner .omtanksam li a:hover {
		color: #826432;
	}

	/*useful*/
	.useful .inner h3 {
		font-size: 40px;
		color: #222;
		margin-bottom: 20px;
	}

	.useful .inner > p {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.useful .inner ul li {
		position: relative;
		float: left;
		width: 100%;
		height: 250px;
		margin-bottom: 15px;
		overflow: hidden;
	}

	.useful .inner ul li:nth-child(1) {
		width: 49%;
	}

	.useful .inner ul li:nth-child(1) img {
		width: 100%;
	}

	.useful .inner ul li:nth-child(2) {
		width: 49%;
		margin-left: 2%;
	}

	.useful .inner ul li:nth-child(2) img {
		position: absolute;
		top: -200px;
		width: 100%;
	}

	.useful .inner ul li:nth-child(3) {
		margin-bottom: 0;
	}

	.useful .inner ul li:nth-child(3) img {
		width: 100%;
	}

	.useful .inner ul li .useHover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		font-size: 22px;
		color: #fff;
		background: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		opacity: 0;
		transition: all 0.5s;
	}

	.useful .inner ul li .useHover strong:after {
		display: block;
		content: '';
		width: 280px;
		height: 2px;
		margin: 3px 0;
		background: #fff;
	}

	.useful .inner ul li .useHover:hover {
		opacity: 1;
	}

	/*major*/
	.major .inner h3 {
		font-size: 40px;
		color: #222;
		margin-bottom: 20px;
	}

	.major .inner > p {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.major .inner .majorList {
		height: 350px;
		overflow: hidden;
	}

	.major .inner .majorList li img {
		width: 100%;
	}

	.major .inner .majorList .family {
		width: 230px;
		height: 349px;
	}

	.major .inner .majorList .family a {
		border: 0;
	}

	.major .inner .majorList .family img {
		width: 100%;
		z-index: -1;
	}

	.major .inner .majorList .family img:nth-child(2) {
		display: block;
		width: 99.5%;
		height: 99.5%;
		border: 1px solid #222;
		background: #fff;
		opacity: 0;
	}

	.major .inner .majorList .center {
		left: 245px;
		width: 280px;
	}

	.major .inner .majorList .planning {
		left: 245px;
		width: 435px;
	}

	.major .inner .majorList .assembly {
		width: 380px;
		top: -5px;
	}

	.major .inner .majorList .food {
		top: 126px;
		left: 540px;
		width: 140px;
	}

	.major .inner .majorList .catalog {
		bottom: -16px;
		width: 225px;
	}

	/*store*/
	.store .inner ul li {
		float: left;
		width: 215px;
		margin-right: 20px;
	}

	.store .inner ul li img {
		width: 100%;
	}

	.store .inner ul li h5 {
		font-size: 18px;
	}

	.store .inner ul li span {
		display: block;
		height: 30px;
		font-size: 12px;
	}

	.store .inner ul li p {
		font-size: 14px;
	}

	.store .inner ul li a:nth-child(1) {
		margin-top: 15px;
		font-size: 12px;
	}

	.store .inner ul li a.goStore {
		width: 100%;
	}

	.store .inner ul li a.goMap {
		width: 100%;
	}

	.store .inner ul li a.goMap:hover {
		background: #bfbfbf;
		color: #000;
	}

	/*footer*/
	footer {
		width: 100%;
		height: 260px;
		background: #e6e6e6;
	}

	footer .inner {
		padding-top: 40px;
	}

	footer .inner .footTop {
		position: relative;
	}

	footer .inner .footTop:after {
		position: absolute;
		top: 25px;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #aaa;
	}

	footer .inner .footTop .footCopy {
		float: left;
	}

	footer .inner .footTop .footMenu {
		float: right;
	}

	footer .inner .footTop .footMenu a {
		margin-right: 15px;
	}

	footer .inner .footText {
		padding-top: 40px;
		line-height: 1.6;
	}
}
